<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @microblog.user %>
</p>

<p>
  <strong>Blog:</strong>
  <%= @microblog.blog %>
</p>

<%= link_to 'Edit', edit_microblog_path(@microblog) %> |
<%= link_to 'Back', microblogs_path %>
